* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: white;
}

.myName {
    margin-top: 5px;
    font-size: 44px;
    text-decoration: none;
    color: white;
}

nav .menu {
    display: flex;
    gap: 30px;
}

nav .menu button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 40px;
    margin-left: 150px;
    margin-top: auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

