html {
    background-color: 	#0d0d0d;
    font-family: "DM Sans", sans-serif;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    background-color: 	#0d0d0d;
    padding: 15px 20px;
    color: aliceblue;
    flex-wrap: wrap;
    gap: 40px; /* Espaço entre os elementos */
}

/* Nome do site */
.myName {
    text-decoration: none;
    color: aliceblue;
    font-size: 45px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: -20px;
}

/* Estilo do menu */
.menu {
    display: flex;
    flex-direction: row;
    background: none;
    padding: 0;
    gap: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.menu button {
    color: aliceblue;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    background: transparent;
    font-size: 20px;
}

/* Hover com animação da barra inferior */
.menu button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px; /* Abaixei a barra */
    width: 100%;
    height: 3px;
    background: #00ff00;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.menu button:hover::after,
.menu button.active::after {
    transform: scaleX(1);
}

/* Menu responsivo para telas menores */
@media (max-width: 767px) {
    header {
        justify-content: space-between;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-btn {
        display: flex;
    }

    .menu button {
        padding: 10px;
    }
}
